sandbox/
output/
output_*/
.DS_store
config.log
sandbox/

meson-cross.mingw.txt
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/ffmpeg-windows-build-helpers2/v16/Browse.VC.opendb
/.vs/ffmpeg-windows-build-helpers2/v16/Browse.VC.db-wal
/.vs/ffmpeg-windows-build-helpers2/v16/Browse.VC.db-shm
/.vs/ffmpeg-windows-build-helpers2/v16/Browse.VC.db
/.vs/ffmpeg-windows-build-helpers/v16/Browse.VC.db
/.vs/ffmpeg-windows-build-helpers/v16/Browse.VC.db-shm
/.vs/ffmpeg-windows-build-helpers/v16/Browse.VC.db-wal
/.vs/ffmpeg-windows-build-helpers/v16/Browse.VC.opendb
